@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&family=Poppins:wght@300;400;500;700");
body {
  font-family:'Ms Madi', cursive;
  font-weight: 300;
  background-color: rgb(172, 199, 190);
}
h1 {
  color: rgb(54, 26, 26);
  font-size: 70px;
  line-height: normal;
  font-family:'Ms Madi', cursive;
}

.img {
  width: 100;
  border-radius:60%;
  margin: 50px;
}

.container {
  width: 800px;
  margin: 0 auto
}

.card {
  background-color: rgb(136, 20, 20);
  padding: 70px;
  box-shadow: 0px 10px 30px rgba(21, 56, 100, 1.0);
  border-radius: 10px;
  margin: 20px 0px;
  text-align: center;
  height: auto;
  font-size: 40px;

}

.btn-blue {
  background-color: #6B72E1;
  color: white;
  padding: 15px 20px;
  border-radius: 10px;
  cursor: pointer;
  margin: 50px;
  padding: 20px;
  display: block;
 }

.in-line {
  display: inline;
  padding: 10px;
}
