

body{
  padding: 3rem;
  margin:0;
  background-image: url(https://img.freepik.com/free-vector/black-background-with-red-glowing-low-poly-mesh_1017-20215.jpg?w=740&t=st=1667324796~exp=1667325396~hmac=b26f408c55bf96cb112e666cdbb67c47d5d9318abaf629f519e37cef37357f51);
}



.container{
  border-style: 2px solid;
  background-image: url(https://img.freepik.com/free-vector/winter-dragon-sitting-rock-snowy-mountains-landscape-cartoon-fantasy-character-magic-creature-observe-territory-fairytale-flying-animal-book-computer-game-personage-vector-illustration_107791-8429.jpg?w=996&t=st=1667318102~exp=1667318702~hmac=5c05b961206dba1a9f93a800024a4b61e478190e1019981e90cc5945b5365a54);
  background-size: cover;
  height: 300px;
  width:100%;
}
.container-1-header h2{
  text-align: center;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  padding: 20px;
  color: beige;
}
.container h1{
  text-align: right;
  color: azure;
  font-family: Georgia, 'Times New Roman', Times, serif;
  color: beige;
}

.container-1{

  height: 300px;
  width:100%;
  display: flex;
  flex-direction: row;
}
.container-1 p{
  padding: 10px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  color: beige;
  font-size: 28px;
}

.container-1 h2{
  text-align: center;
  font-family: fantasy
}
.container-2{
  height: 100px;
  width:100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.text h2{
  text-align: center;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  color: beige;
}
/* footer css */
.footer-basic {
  padding:40px 0;
  background-color:#ffffff;
  color:#4b4c4d;
  background-image: url(https://img.freepik.com/free-vector/black-background-with-red-glowing-low-poly-mesh_1017-20215.jpg?w=740&t=st=1667324796~exp=1667325396~hmac=b26f408c55bf96cb112e666cdbb67c47d5d9318abaf629f519e37cef37357f51);
  background-size: cover;
}

.footer-basic ul {
  padding:0;
  list-style:none;
  text-align:center;
  font-size:18px;
  line-height:1.6;
  margin-bottom:0;
}

.footer-basic li {
  padding:0 10px;
}

.footer-basic ul a {
  color:inherit;
  text-decoration:none;
  opacity:0.5;
}

.footer-basic ul a:hover {
  opacity:1;
}

.footer-basic .social {
  text-align:center;
  padding-bottom:25px;
}

.footer-basic .social > a {
  font-size:24px;
  width:40px;
  height:40px;
  line-height:40px;
  display:inline-block;
  text-align:center;
  border-radius:50%;
  border:1px solid #ccc;
  margin:0 8px;
  color:inherit;
  opacity:0.75;
}

.footer-basic .social > a:hover {
  opacity:0.9;
}

.footer-basic .copyright {
  margin-top:15px;
  text-align:center;
  font-size:13px;
  color:#aaa;
  margin-bottom:0;
}
